@using Expression.Expressions
@using BigNum
@using Expression.Arithmetics
@using System.Runtime.CompilerServices

<h3>Function Analize</h3>

<button @onclick="() => { Ind[0] = Ind[0] - 1 >= 0 ? Ind[0] - 1 : Ind[0]; _action = Actions.None; }">P</button>
<button @onclick="() => { Ind[0] = Ind[0] + 1 < Functions.Count ? Ind[0] + 1 : Ind[0];_action = Actions.None; }">N</button>

<div>
    <label>@Functions[Ind[0]].ToString()</label>
</div>

<div>
    <button @onclick="() => { _action = Actions.Derivative; _result = null;}">dy/dx</button>
    <button>Taylor</button>
    <button>Evaluate</button>
</div>

@if (_action == Actions.Derivative)
{
    <Derivative Function="Functions[Ind[0]]" Derv="Derivative"></Derivative>
}

@if (_result is not null)
{
    <div>
        <label>@_result.ToString()</label>
    </div>
}

@code {

    [Parameter]
    public List<Function<RealNumbers>> Functions { get; set; }

    [Parameter]
    public List<int> Ind { get; set; }


    private enum Actions
    {
        None,
        Derivative,
        Taylor,
        Evaluative,
    }

    private Actions _action = Actions.None;
    private Function<RealNumbers>? _result;

    private void Derivative(char variable)
    {
        _result = Functions[Ind[0]].Derivative(variable);
        StateHasChanged();
    }

}