@using Expression.Expressions
@using BigNum
@using Expression.Arithmetics

<div style="width: 350px; margin: 10px;">
    <div class="input-group">
        <input class="form-control" type="text" @bind="_function"/>
    
        <button class="input-group-text" @onclick="AddFunction">Exp</button>
    </div>
</div>

@code {

    [Parameter]
    public ArithmeticExp<RealNumbers> ArithmeticExp { get; set; } = null!;

    [Parameter]
    public List<Function<RealNumbers>> Functions { get; set; } = null!;

    [Parameter]
    public Action Changed { get; set; } = null!;

    private string _function = "";

    private void AddFunction()
    {
        if (_function == "") return;
        var exp = ArithmeticExp.Parsing(_function);

        if (exp is null) return;

        Functions.Add(exp);
        _function = "";
        Changed();
    }

}