@using Expression.Expressions
@using BigNum
@using Expression.Arithmetics

<h3>FunctionConstruct</h3>

<input type="text" @bind="_function"/>

<button @onclick="AddFunction">Exp</button>

@code {

    [Parameter]
    public ArithmeticExp<RealNumbers> ArithmeticExp { get; set; }

    [Parameter]
    public List<Function<RealNumbers>> Functions { get; set; }

    [Parameter]
    public List<int> Ind { get; set; }
    
    [Parameter]
    public Action Changed { get; set; }

    private string _function = "";

    private void AddFunction()
    {
        var exp = ArithmeticExp.Parsing(_function);

        if (exp is null) return;

        Functions.Add(exp);
        Ind[0] = Functions.Count - 1;
        Console.WriteLine(Ind[0]);
        _function = "";
        Changed();
    }

}