@using Expression.Expressions
@using BigNum
@using Expression.Arithmetics
@using MathJaxBlazor

@inherits MathJaxContentComponent

<div style="width: 350px; margin: 10px;">
    @if (_auxFun is not null)
    {
        <div style="justify-self: center; margin: 5px; font-size: 20px;">
            <ShowExp Function="_auxFun"></ShowExp>
        </div>
    }
    @if (_auxFun is null && _function != "")
    {
        <div class="alert alert-danger">
            The expression is incorrect
        </div>
    }
    <div class="input-group">
        <input class="form-control" type="text" @onkeyup="Press"
               placeholder="Introduce your expression" @bind="_function" @bind:event="oninput"/>

        <button class="input-group-text" @onclick="AddFunction">
            <div style="margin-bottom: -1em; margin-top: -1em">
                \[f(x)\]
            </div>
        </button>
    </div>
</div>

@code {

    [Parameter]
    public ArithmeticExp<RealNumbers> ArithmeticExp { get; set; } = null!;

    [Parameter]
    public List<Function<RealNumbers>> Functions { get; set; } = null!;

    [Parameter]
    public Action Changed { get; set; } = null!;

    private string _function = "";

    private Function<RealNumbers>? _auxFun;

    private void AddFunction()
    {
        var exp = ArithmeticExp.Parsing(_function);

        if (exp is null) return;

        Functions.Add(exp);
        _function = "";
        Changed();
    }

    private void Press(KeyboardEventArgs e)
    {
        if(e.Code=="Enter")
            AddFunction();
        _auxFun = ArithmeticExp.Parsing(_function);
    }

}