@using Expression.Expressions
@using BigNum
@using Expression.Arithmetics
@using MathJaxBlazor

@inherits MathJaxContentComponent

<div style="width: 350px; margin: 10px;">
    @if (_auxFun is not null && !_error)
    {
        <div style="justify-self: center; margin: 5px; font-size: 20px;">
            <ShowExp Function="_auxFun" @key="1"></ShowExp>
        </div>
    }
    @if (_error)
    {
        <div class="alert alert-danger">
            The expression is incorrect
        </div>
    }
    <div class="input-group">
        <input class="form-control" type="text" @onkeyup="Press"
               placeholder="Introduce your expression" @bind="_function" @bind:event="oninput"/>

        <button class="input-group-text" @onclick="AddFunction">
            <div style="margin-bottom: -1em; margin-top: -1em">
                <Equation Value="f(x)"></Equation>
            </div>
        </button>
    </div>
</div>

@code {

    [Parameter]
    public ArithmeticExp<RealNumbers> ArithmeticExp { get; set; } = null!;

    [Parameter]
    public List<Function<RealNumbers>> Functions { get; set; } = null!;

    [Parameter]
    public Action Changed { get; set; } = null!;

    private string _function = "";

    private Function<RealNumbers>? _auxFun;

    private bool _error = false;

    public void AddFunction()
    {
        _error = false;
        try
        {
            var exp = ArithmeticExp.Parsing(_function);

            if (exp is null)
            {
                _error = true;
                return;
            }

            Functions.Add(exp);
            _function = "";
            _auxFun = null;
            Changed();
        }
        catch
        {
            _error = true;
        }
    }

    private void Press(KeyboardEventArgs e)
    {
        _error = false;
        if (e.Code == "Enter")
            AddFunction();
        try
        {
            var aux = ArithmeticExp.Parsing(_function);
            if (aux is not null) _auxFun = aux;
        }
        catch
        {
            _error = true;
        }
    }

}