@using Expression.Expressions
@using BigNum

<div style="display: grid">
    <div style="justify-self: center; margin: 5px;">
        <span>Select the variable to derive</span>
    </div>
    <div class="input-group">
        <select class="form-select">
            @foreach (var item in _variables)
            {
                <option @onselect="() => _variableSelect = item">@item</option>
            }
        </select>
        <button class="input-group-text" @onclick="() => Derv(_variableSelect)">Accept</button>
    </div>
</div>

@code {

    [Parameter]
    public Function<RealNumbers> Function { get; set; } = null!;

    [Parameter]
    public Action<char> Derv { get; set; } = null!;

    private char _variableSelect;

    private List<char> _variables = null!;

    protected override void OnInitialized()
    {
        _variables = Function<RealNumbers>.VariablesToExpression(Function);
        _variableSelect = _variables[0];
    }

}