@using BigNum

<div style="display: grid">
    <div style="justify-self: center; margin: 5px;">
        <span>Enter the number of terms</span>
    </div>
    <div style="width: 100px;justify-self: center;">
        <input class="form-control" type="number" @bind="_cant"/>
    </div>
    <EvalVarible Eval="Accept" Big="Big" Variables="Variables" Message="Enter the center values"></EvalVarible>
</div>

@code {

    [Parameter]
    public List<char> Variables { get; set; } = null!;

    [Parameter]
    public BigNumMath Big { get; set; } = null!;

    [Parameter]
    public Action<List<(char,RealNumbers)>, int> PolTaylor { get; set; } = null!;

    private int _cant;

    private void Accept(List<(char,RealNumbers)> eval) => PolTaylor(eval, _cant);
}